@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway);

/* TODO Insert root and vars to future proof ur page*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root{
    --text-color: #00259a;
    --nav-font: "Raleway";
    --background-color: #f7c98e;
    --font-size-logo-title: 2rem;
    --logo-letter-spacing: 1px;
    --logo-line-height: 1.8;
    --font-general: 'Comfortaa', san-serif;
    --default-font-weight: 400;
    --h2-font-size: 1.5rem;
    --text-font-size: 0.9rem;
    scroll-behavior: smooth;
}

.logo_title {
    text-decoration: none;
    letter-spacing: var(--logo-letter-spacing);
    line-height: var(--logo-line-height);
    font-size: var(--font-size-logo-title);
    font-family: var(--font-general);
}

body {
    background-color: var(--background-color);
}
/*! SLIDESHOW */



.mySlides {
    max-width: 800px;
    max-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
}

/*! About */
h2 {
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .06rem;
    color: var(--text-color);
    line-height: 1.3;
    font-family: var(--font-general);
    vertical-align: center;
    text-align: center;
    font-size: var(--h2-font-size);
    width: 80%;
    margin: 0 auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: var(--text-font-size);
    font-family: 'Comfortaa', san-serif;
    color: #0b090a;
    font-weight: var(--default-font-weight);
    padding: 20px 20px 0 20px;
    position: relative;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    max-width: 800px;
}

/*! Sticky footer */
footer {
    position: sticky;
    display: flex;
    bottom: 0;
    font-family: "Raleway";
    background-color: #0b090a;
    color: #f7c98e;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem;
    margin-top: 1rem;
    gap: 2rem;
}

@media (max-width: 330px) {
    footer {
      gap: 0.5rem;
    }
}
a:link, a:visited {
    text-decoration: none;
    color: var(--background-color);
}

/*! The call button */

footer .call {
    font-weight: 400;
    font-size: var(--font-size-nav);
    font-family: var(--font-general);
    color: white;
    background: linear-gradient(to bottom, #098b14, #098b1467);
    border-radius: 2rem;
    padding: 0rem 1rem;
}

br {
    margin-bottom: 0.5rem;
}

.underline {
    text-decoration: underline;
}

a:hover,
a:focus {
  transform: scale(1.2);
  transition: all 0.3s;
}
a h2:hover,
a h2:focus {
  transform: scale(1.2);
  transition: all 0.3s;
}
